section
    section
        h3 The Biosurveillance Ecosystem (BSVE)
            blockquote.jb-v-margin
                | "The BSVE is a rapidly emerging capability being
                | developed by the DTRA to enable real-time
                | biosurveillance for early warning and course of action
                | analysis."
    section.jb-demo
        h3 BSVE Application
            // iframe(data-src="http://www.bsvecosystem.net/workbench/")

    section.jb-demo
        h3 Data services
            iframe(data-src="http://geodata.epidemico.com")

    section.jb-demo
        h3 Minerva
            iframe(data-src="http://minerva.kitware.com")
