section
	section
		h3 Emory - HistomicsTK
		ul.jb-left.jb-v-margin
			li Girder
			ul
				li girder_worker - Asynchronous task execution using docker and Slicer CLI
				li large_image - Tiled image server, annotation storage and retrieval
				li HistomicsTK - Histomics algorithms and UI generation from Slicer XML schema
			li GeoJS
			ul
				li Rendering navigatable tiled images
				li Rendering annotations

	section.jb-demo
		h3 UI Generation from Slicer CLI's
		iframe(data-src="http://garant:8011/histomicstk#?analysis=demo")

	section.jb-demo
		h3 HistomicsTK
		iframe(data-src="http://garant:8011/histomicstk")

