section
	section
		img(src="img/geojs_logo.png", width="400px")
		ul.jb-v-margin
			li.fragment Kitware's JavaScript library for rendering tiled images
			li.fragment Combines SVG, Canvas, and WebGL rendering into a single API
			li.fragment Used in both GIS and Biomedical applications

	section.jb-demo
		a(href="http://opengeoscience.github.io/geojs") http://opengeoscience.github.io/geojs
		iframe(data-src="http://opengeoscience.github.io/geojs/examples/index.html")

	section.jb-demo
		h3 GeoJS unit testing
		iframe(data-src="http://my.cdash.org/index.php?project=geojs&date=20160719")
