section
	section
		h3 GeoJS
	section.jb-demo
		a(href="http://opengeoscience.github.io/geojs") http://opengeoscience.github.io/geojs
		iframe(data-src="http://opengeoscience.github.io/geojs/examples/index.html")

	section.jb-demo
		h3 GeoJS unit testing
		iframe(data-src="http://my.cdash.org/index.php?project=geojs&date=20160719")
