section
	section
		h3 Images and Gridded Data
		p.jb-left 
			span Problem: High resolution global scale images are 
			span.jb-bold BIG
		ul.fragment
			li Earth's surface area is $5e14$ $m^2$
			li At $30$ $m^2$ resolution that is more than 4 x 4 million pixels
			li OSM: 16 x 16 million pixels globally (4 GB jpg)
		p.jb-v-margin.jb-left.fragment
			| Solution: generate hierarchically tiled images

	section.jb-demo
		h3 OSM tile layers
		iframe(data-src="map-demo1.html")

