section
	section
		h3 Projects and products

	section
		h3(style="margin-bottom: 50px") GRITS/GUMBO
		img(src="img/BSVE_logo.png", width="30%", style="float: left; border: none")
		ul(style="float: right; width: 60%; margin-top: 20px")
			li DTRA's Biosurveillance Ecosystem (BSVE)
			li Tools to analyze emerging epidemic outbreaks
			li Gaia, GeoJS, Girder, Minerva

	section
		h3(style="margin-bottom: 50px") ACME
		img(src="img/uvcdat-jumbo.png", width="30%", style="float: left; border: none")
		ul(style="float: right; width: 60%; margin-top: 0px")
			li LLNL's Ultrascale Visualization Climate Data Analysis Tools (UV-CDAT)
			li Tools for climate prediction and analysis
			li ParaViewWeb, VCS-js, VTK

	section
		h3(style="margin-bottom: 50px") Emory
		ul
			li Emory University's Digital Slide Archive
			li Tools for managing and analyzing slide pathology images
			li GeoJS, Girder, HistomicsTK, Large_image, Slide Atlas
