section
	section
		h3 GIS Vector Data Sets
		ul.fragment
			li Usually given as points, lines, and polygons
			li GeoJSON, CSV, Shapefile, and Mapbox Protobuf
			li Many tools exist to split vector features into tiles similar to hierarchical images

	// section.jb-demo
	//	h3 OSM data rendered in WebGL
	//	iframe(data-src="http://codepen.io/jbeezley/debug/LkQpOj/")

	section.jb-demo
		h3 Hierarchical clustering of point data
		iframe(data-src="http://codepen.io/jbeezley/debug/yJvYjN")

	section.jb-demo
		h3 3D data rendered in WebGL
		iframe(data-src="http://cdn.rawgit.com/UDST/vizicities/master/examples/all-the-things/index.html")

