doctype html
html
    include inc/head
    body
        .reveal
            .slides
                include ../slides/title
                // include ../slides/intro
                include ../slides/web-vis
                include ../slides/osm-tiles
                include ../slides/vector-data
                include ../slides/projects
                include ../slides/geojs
                include ../slides/bsve
                include ../slides/emory
                include ../slides/treeview
        include inc/scripts
