doctype html
html
    head
        link(rel="stylesheet", type="text/css", href="css/map-demo1.css")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/geojs/0.9.1/geo.min.js")
    body
        #map.debug-border.debug-label.fade-image
        script(src="js/map-demo1.js")
