/*
* uncomment your favorite theme
* if you want to see them live, take a look at:
* http://lab.hakim.se/reveal-js/#/themes
* to convert more themes, take from: https://github.com/hakimel/reveal.js/tree/master/css/theme
*/

/*
* Css file to create the generic presentation
*/
@import "vendor/reveal"

/*
* In src/styl/reveal-themes have more themes !!
*/
@import "reveal-themes/serif"

/*
* In src/styl/highlight-themes have more awesome highlight-themes !!
*/
@import "highlight-themes/atelier-cave-dark"

.jb-v-margin
    margin-top 30px !important

.jb-left
    text-align left
    width 100%

.jb-left-2
    width 45%
    float left

.jb-right-2
    width 45%
    float right

.jb-red
    color red

.jb-bold
    font-weight bold

blockquote
    box-shadow 0px 0px 10px #888888 !important

.jb-demo
    top 0 !important
    iframe
        height 600px
        width 100%

.jb-small
    font-size 50%
    font-style italic
